<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength ="2147483647"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <!--<binding name="TransferService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>      
        </binding>-->
        <binding name="TransferService" maxReceivedMessageSize="2024" maxBufferSize="2024">
          <readerQuotas maxDepth="2024" maxStringContentLength="2024" maxArrayLength="2024" maxBytesPerRead="2024"
                        maxNameTableCharCount="2024"/>
        </binding>
      </basicHttpBinding>


      <wsHttpBinding>
        
        <!--<binding name="Transfer_Binding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:01:00"
           sendTimeout="00:01:00" maxReceivedMessageSize="104857600" maxBufferPoolSize="104857600" > --><!-- 100MB --><!--
        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" 
           maxNameTableCharCount="16384" />
         <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        <reliableSession enabled="false" inactivityTimeout="00:01:00"/> --><!--Needs to be enabled for implementing sessionful contract --><!-- 
      </binding>-->
          
          
        <binding name="TransferBindingConfig" maxReceivedMessageSize="2147483647"  maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647"  maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      
    
    <!--<binding name="WSHttpBinding_IQcsServices" closeTimeout="08:00:00"
                openTimeout="08:00:00" receiveTimeout="08:00:00" sendTimeout="08:00:00"
                bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="655360000" maxReceivedMessageSize="655360000"
                messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                allowCookies="false">
                <readerQuotas maxDepth="655360000" maxStringContentLength="655360000" maxArrayLength="655360000"
                    maxBytesPerRead="655360000" maxNameTableCharCount="655360000"/>
                <reliableSession ordered="true" inactivityTimeout="00:10:00"
                    enabled="false" />
                <security mode="Message">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="UserName"/>
                </security>
            </binding>-->
    
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="TransferBehavior" name="Coursework_wcf_service.File_Manager_Service">
        
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransferBindingConfig" 
                  contract="Coursework_wcf_service.ITransferService"/>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address ="Service2" binding="basicHttpBinding" contract="Coursework_wcf_service.IRegistryContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>

        <behavior name="TransferBehavior">
          
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          
          <serviceDebug includeExceptionDetailInFaults="false" />
          
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="WcfServiceExam" storeLocation="CurrentUser"
              storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="Coursework_wcf_service.App_Code.Authentication.CustomValidator,App_Code.Authentication" />
          </serviceCredentials>
          
        </behavior>        
        
      </serviceBehaviors>
      
      
      <!--<endpointBehaviors>
        <behavior name="endPointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="655360000"/>
        </behavior>
      </endpointBehaviors>-->
   
     
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>-->
    
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2147483647"/>
    </requestFiltering>
  </security>
  </system.webServer>



</configuration>
